.title {
  font-size: 50px;
}

.input {
  height: 500px;
  width: 550px;
  background-color: lightblue;
}

textarea {
  padding: 5px;
}

#preview {
  max-height: 500px;
  width: 550px;
  background-color: lightblue;
  border: 1px solid black;
  padding: 0 15px;
  overflow-y: scroll;
  margin-top: 5px;
}

blockquote {
  border-left: 3px solid gray;
  padding-left: 5px;
  position: relative;
  left: 30px;
}

code {
  background-color: white;
  font-size: 1.2em;
  font-weight: bold;
  padding: 3px;
}

pre {
  display: block;
  background-color: white;
  padding: 5px;
}

h1 {
  border-bottom: 2px solid black;
}

h2 {
  border-bottom: 1px solid black;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
}

td,
th {
  padding: 0 5px;
  border: 2px solid black !important;
}

img {
  display: block;
  max-width: 95%;
  margin: 0 auto;
}
